USE [master]
GO
/****** Object:  Database [employee_management]    Script Date: 5/14/2024 11:58:18 AM ******/
CREATE DATABASE [employee_management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'employee_management', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\employee_management.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'employee_management_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\employee_management_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [employee_management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [employee_management]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 5/14/2024 11:58:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_name] [nvarchar](255) NULL,
	[gender] [nvarchar](20) NULL,
	[date_of_birth] [date] NULL,
	[department_id] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[image] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[checkE]    Script Date: 5/14/2024 11:58:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checkE](
	[checkE_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[checkin_time] [time](7) NULL,
	[checkout_time] [time](7) NULL,
	[checkE_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[checkE_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 5/14/2024 11:58:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[department_id] [varchar](20) NOT NULL,
	[department_name] [nvarchar](255) NULL,
	[department_quantity] [int] NULL,
 CONSTRAINT [PK_departments] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 5/14/2024 11:58:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_name] [nvarchar](255) NULL,
	[gender] [nvarchar](10) NULL,
	[date_of_birth] [date] NULL,
	[department_id] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[password] [varchar](255) NULL,
	[image] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[report]    Script Date: 5/14/2024 11:58:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[report](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NULL,
	[report_time] [time](7) NULL,
	[report_date] [date] NULL,
	[report_content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reportE]    Script Date: 5/14/2024 11:58:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reportE](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_id] [int] NULL,
	[report_time] [time](7) NULL,
	[report_date] [date] NULL,
	[report_content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[checkE] ON 

INSERT [dbo].[checkE] ([checkE_id], [employee_id], [checkin_time], [checkout_time], [checkE_date]) VALUES (11, 1, CAST(N'10:39:36' AS Time), CAST(N'10:39:38' AS Time), CAST(N'2024-05-06' AS Date))
INSERT [dbo].[checkE] ([checkE_id], [employee_id], [checkin_time], [checkout_time], [checkE_date]) VALUES (12, 2, CAST(N'01:00:00' AS Time), CAST(N'22:00:00' AS Time), CAST(N'2024-05-02' AS Date))
INSERT [dbo].[checkE] ([checkE_id], [employee_id], [checkin_time], [checkout_time], [checkE_date]) VALUES (14, 4, CAST(N'17:04:21' AS Time), CAST(N'17:04:24' AS Time), CAST(N'2024-05-06' AS Date))
SET IDENTITY_INSERT [dbo].[checkE] OFF
GO
INSERT [dbo].[departments] ([department_id], [department_name], [department_quantity]) VALUES (N'D01', N'Accountant', 4)
INSERT [dbo].[departments] ([department_id], [department_name], [department_quantity]) VALUES (N'D02', N'Business', 1)
INSERT [dbo].[departments] ([department_id], [department_name], [department_quantity]) VALUES (N'D03', N'Personnel', 1)
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[report] ON 

INSERT [dbo].[report] ([report_id], [admin_id], [report_time], [report_date], [report_content]) VALUES (1, 1, CAST(N'00:10:54' AS Time), CAST(N'2024-05-04' AS Date), N'mai đi làm')
INSERT [dbo].[report] ([report_id], [admin_id], [report_time], [report_date], [report_content]) VALUES (2, 1, CAST(N'10:07:37' AS Time), CAST(N'2024-05-04' AS Date), N'mai nghỉ làm đến cuối tháng')
INSERT [dbo].[report] ([report_id], [admin_id], [report_time], [report_date], [report_content]) VALUES (3, 2, CAST(N'15:55:47' AS Time), CAST(N'2024-05-04' AS Date), N'không được nghỉ làm')
SET IDENTITY_INSERT [dbo].[report] OFF
GO
SET IDENTITY_INSERT [dbo].[reportE] ON 

INSERT [dbo].[reportE] ([report_id], [employee_id], [report_time], [report_date], [report_content]) VALUES (1, 2, CAST(N'10:39:50' AS Time), CAST(N'2024-05-04' AS Date), N'xin đi làm muộn')
INSERT [dbo].[reportE] ([report_id], [employee_id], [report_time], [report_date], [report_content]) VALUES (2, 3, CAST(N'12:52:08' AS Time), CAST(N'2024-05-05' AS Date), N'hello')
INSERT [dbo].[reportE] ([report_id], [employee_id], [report_time], [report_date], [report_content]) VALUES (3, 3, CAST(N'12:52:21' AS Time), CAST(N'2024-05-05' AS Date), N'good!!!')
SET IDENTITY_INSERT [dbo].[reportE] OFF
GO
ALTER TABLE [dbo].[departments] ADD  CONSTRAINT [DF__departmen__depar__48CFD27E]  DEFAULT ((0)) FOR [department_quantity]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[checkE]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([department_id])
GO
ALTER TABLE [dbo].[report]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admin] ([admin_id])
GO
ALTER TABLE [dbo].[reportE]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
USE [master]
GO
